<h1 class="mt-3">Árlista kezelése</h1>

{{#if editanyag}}

<div class="row mt-3">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form action="/admin/{{editanyag.id}}/edit" method="POST">
                    <h3>Anyag szerkesztése</h3>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="anyagcsoport">Anyag csoport</label>
                            <select id="anyagcsoport" class="form-control" name="anyagcsoport" required>
                                <option selected>Anyag csoport</option>
                                {{#select editanyag.anyagcsoport}}
                                <option value="1">Alumínium</option>
                                <option value="2">Réz</option>
                                <option value="3">Sárgaréz</option>
                                <option value="4">Bronz</option>
                                <option value="5">Hűtők</option>
                                <option value="6">Horgany</option>
                                <option value="7">Ólom</option>
                                <option value="8">Akkumulátor</option>
                                <option value="9">Saválló</option>
                                <option value="10">Ón</option>
                                <option value="11">Vasfém</option>
                                <option value="12">Kábelek</option>
                                <option value="13">Trafók, motorok</option>
                                <option value="14">Papír hulladék</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="anyagfajta">Anyag fajta</label>
                            <input type="text" class="form-control" id="anyagfajta" name="anyagfajta"
                                placeholder="Anyag fajta" value="{{editanyag.anyagfajta}}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="lakossagiar">Lakossági ár (Ft/kg)</label>
                            <input type="number" class="form-control" id="lakossagiar" name="lakossagiar"
                                placeholder="Lakossági ár" value="{{editanyag.lakossagiar}}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Szerkesztés</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{else}}

<div class="row mt-3">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form action="/admin/add" method="POST">
                    <h3>Új anyag hozzáadása</h3>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="anyagcsoport">Anyag csoport</label>
                            <select id="anyagcsoport" class="form-control" name="anyagcsoport" required>
                                <option selected>Anyag csoport</option>
                                <option value="1">Alumínium</option>
                                <option value="2">Réz</option>
                                <option value="3">Sárgaréz</option>
                                <option value="4">Bronz</option>
                                <option value="5">Hűtők</option>
                                <option value="6">Horgany</option>
                                <option value="7">Ólom</option>
                                <option value="8">Akkumulátor</option>
                                <option value="9">Saválló</option>
                                <option value="10">Ón</option>
                                <option value="11">Vasfém</option>
                                <option value="12">Kábelek</option>
                                <option value="13">Trafók, motorok</option>
                                <option value="14">Papír hulladék</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="anyagfajta">Anyag fajta</label>
                            <input type="text" class="form-control" id="anyagfajta" name="anyagfajta"
                                placeholder="Anyag fajta" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="lakossagiar">Lakossági ár (Ft/kg)</label>
                            <input type="number" class="form-control" id="lakossagiar" name="lakossagiar"
                                placeholder="Lakossági ár" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Hozzáadás</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3>Árlista</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Anyag csoport</th>
                            <th scope="col">Anyag fajta</th>
                            <th scope="col">Lakossági ár (Ft/kg)</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if anyagok}}
                        {{#each anyagok}}
                        <tr>
                            <td>{{anyagcsoport anyagcsoport}}</td>
                            <td>{{anyagfajta}}</td>
                            <td>{{lakossagiar}}</td>
                            <td>
                                <form action="/admin/{{id}}/edit" method="get">
                                    <button type="submit" class="btn btn-success">Módosítás</button>
                                </form>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger"><a href="/admin/{{id}}/delete"
                                        class="text-white">Törlés</a></button>
                            </td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{/if}}